* {
    font-family: Arial, Helvetica, sans-serif;
}

.body { 
  min-height: 100%;
}

.footer {
    background-color: #0269CD;
    padding: 5px;
    color: white;
    border-top: 3px solid lightskyblue;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 2em;
}

.footer-text-left {
    font-size: 18px;
    margin-top: 7px;
}

.footer-text-right {
    font-size: 18px;
    margin-top: 0;
}

.footerLinks{
    height: 40px;
}