<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <div class="row">
    <div class="col-md-3 footer-text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, accusamus rerum quidem optio, voluptatem dicta quae nulla consequuntur iusto unde voluptatibus quisquam laboriosam voluptate fugit deserunt repellat, provident libero aliquid.
    </div>
    <div class="col-md-6">
      <img class="fishy" src="https://images.pexels.com/photos/52964/fish-seafood-silver-contrast-52964.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb" alt="">
    </div>  
    <div class="col-md-3 footer-text">
        <div class="row">
          <div class="col-md-12" style="text-align: center;">
              <h1 class="footer-text">Connect With Us Here</h1>
              <hr>
              <div class="row">
                  <div class="col-md-12" style="text-align: center;">
                      <i class="fa fa-facebook" style="font-size:20px; padding: 10px;"></i>
                      <i class="fa fa-twitter" style="font-size:20px; padding: 10px;"></i>
                      <i class="fa fa-instagram" style="font-size:20px; padding: 10px;"></i>
                  </div>
              </div>
          </div>

        </div>
    </div>
</div>