*{
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  
  .navbar-brand {
    padding: 0px;
  }
  
  .navbar-brand>img {
    height: 90%;
    margin-top: 2%;
    width: auto;
    /* padding: 7px 14px; */
    padding: 0px;
  }

  /* .viewCartcss{
    height: 100%;
    width: auto;
    padding: 0px;
    margin-right: 10px;
  } */

  .viewCarting{
    height: 50px;
    width: auto;
    padding: 0px;
    margin-right: 25px;
}

.navbar {
  margin-bottom: 0px;
  border-bottom: 3px solid lightskyblue;
  background-color: aliceblue;
  border-radius: 0;
  width: 100%;
}

a {
  color: black !important;
  font-weight: bold;
}

a:hover{
  color: #0269CD !important;
  font-weight: bold;
}



.dropdown-menu{
  margin-top: 7px;
  left: -20px;
  border: 3px solid lightskyblue;
  border-top: 0;
  position: absolute;
  background-color: aliceblue;
  border-radius: 0;
  float: left;
}