<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h1 style="text-align: center; font-weight: bold;">Guest Checkout</h1>
    </div>

    <div class="col-xs-6">
      <h3 style="text-align: center; font-weight: bold;">Shipping Information</h3>
      <hr>
      <label for="fname">First Name:</label>
      <input type="text" name="fname" id="fname" [(ngModel)]="fnameValue" required>
      <br>
      <label for="lname">Last Name:</label>
      <input type="text" name="lname" id="lname" [(ngModel)]="lnameValue" required>
      <br>
      <label for="address1">Address 1:</label>
      <input type="text" name="address1" id="address1" [(ngModel)]="address1Value" required>
      <br>
      <label for="address2">Address 2:</label>
      <input type="text" name="address2" id="address2" [(ngModel)]="address2Value" required>
      <br>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" [(ngModel)]="cityValue" required>
      <br>
      <label for="state">State:</label>
      <input type="text" name="state" id="state" [(ngModel)]="stateValue" required>
      <br>
      <label for="zip">Zipcode:</label>
      <input type="number" name="zip" id="zip" [(ngModel)]="zipValue" required>
    </div>

    <div class="col-xs-6">
      <h3 style="text-align: center; font-weight: bold;">Billing Information</h3>
      <hr>
      <label for="fname">First Name:</label>
      <input type="text" name="fname" id="fname" value="{{ fnameValue }}">
      <br>
      <label for="lname">Last Name:</label>
      <input type="text" name="lname" id="lname" value="{{ lnameValue }}">
      <br>
      <label for="address1">Address 1:</label>
      <input type="text" name="address1" id="address1" value="{{ address1Value }}">
      <br>
      <label for="address2">Address 2:</label>
      <input type="text" name="address2" id="address2" value="{{ address2Value }}">
      <br>
      <label for="city">City:</label>
      <input type="text" name="city" id="city" value="{{ cityValue }}">
      <br>
      <label for="state">State:</label>
      <input type="text" name="state" id="state" value="{{ stateValue }}">
      <br>
      <label for="zip">Zipcode:</label>
      <input type="number" name="zip" id="zip" value="{{ zipValue }}">
    </div>
    <div class="col-xs-12">
      <h3 style="text-align: center; font-weight: bold;">Credit Card Information</h3>
      <hr>
      <label for="name">Full Name:</label>
      <input type="text" name="name" id="name">
      <label for="creditCard">CCN:</label>
      <input type="text" name="creditCard" id="creditCard">
      <br>
      <label for="expiration">Expiration Date:</label>
      <input type="text" name="expiration" id="expiration">
      <label for="cvv">CVV:</label>
      <input type="number" name="cvv" id="cvv">
    </div>

    <div class="col-xs-12">
      <button 
        type="submit" 
        class="btn btn-primary" 
      >Submit</button>
      <a routerLink="/checkout">
        <button
          type="button"
          class="btn btn-danger"
        >Cancel</button>
      </a>
    </div>
  </div>
</div>