.row {
    margin: 0;
}

.button-blue{
    border: 1px solid lightskyblue;
    background-color: #0269CD;
    color: white;
  }
    
  .button-blue:hover{
    border: 1px solid lightskyblue;
    background-color: rgb(0, 73, 141);
    color: white;
  }