<!-- <img class="banner" src="../../../assets/images/homepage.png"> -->

<div class="banner">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active" *ngIf="homeImage1Src">
        <!-- <img src="../../../assets/images/homepage.png"> -->
        <img [src]="homeImage1Src" [alt]="homeImage1Description">
        <div class="carousel-caption">
          <!-- <h3>Los Angeles</h3>
            <p>LA is always so much fun!</p> -->
        </div>
      </div>

      <div class="item" *ngIf="homeImage2Src">
        <!-- <img src="../../../assets/images/fishing-at-sunset-fischer-twilight-fishing-63642.jpeg"> -->
        <img [src]="homeImage2Src" [alt]="homeImage2Description">
        <div class="carousel-caption">
          <!-- <h3>Chicago</h3>
            <p>Thank you, Chicago!</p> -->
        </div>
      </div>

      <div class="item" *ngIf="homeImage3Src">
        <!-- <img src="../../../assets/images/pexels-photo-460313.jpeg"> -->
        <img [src]="homeImage3Src" [alt]="homeImage3Description">
        <div class="carousel-caption">
          <!-- <h3>New York</h3>
            <p>We love the Big Apple!</p> -->
        </div>
      </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <!-- <span class="fa fa-arrow-left"></span> -->
      <!-- <span class="sr-only">Previous</span> -->
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <!-- <span class="fa fa-arrow-right"></span> -->
      <!-- <span class="sr-only">Next</span> -->
    </a>
  </div>
</div>





<div class="wrapper-top">
  <div class="cols">
      <div *ngIf="homeImage4Src">

            <img class="imagestop1" *ngIf="!pic1Hover && homeImage4Src" (mouseover)="pic1Hover=true" (mouseleave)="pic1Hover=false"  [src]="homeImage4Src" [alt]="homeImage4Description">
            <img class="imagestop1" *ngIf="pic1Hover && homeImage5Src" (mouseover)="pic1Hover=true" (mouseleave)="pic1Hover=false" [src]="homeImage5Src" [alt]="homeImage5Description">

            <img class="imagestop2" *ngIf="!pic2Hover && homeImage6Src" (mouseover)="pic2Hover=true" (mouseleave)="pic2Hover=false" [src]="homeImage6Src" [alt]="homeImage6Description">
            <img class="imagestop2" *ngIf="pic2Hover && homeImage7Src" (mouseover)="pic2Hover=true" (mouseleave)="pic2Hover=false"  [src]="homeImage7Src" [alt]="homeImage7Description">

            <img class="imagestop3" *ngIf="!pic3Hover && homeImage8Src" (mouseover)="pic3Hover=true" (mouseleave)="pic3Hover=false"  [src]="homeImage8Src" [alt]="homeImage8Description">
            <img class="imagestop3" *ngIf="pic3Hover && homeImage9Src" (mouseover)="pic3Hover=true" (mouseleave)="pic3Hover=false" [src]="homeImage9Src" [alt]="homeImage9Description">

            <img class="imagestop4" *ngIf="!pic4Hover && homeImage10Src" (mouseover)="pic4Hover=true" (mouseleave)="pic4Hover=false"  [src]="homeImage10Src" [alt]="homeImage10Description">
            <img class="imagestop4" *ngIf="pic4Hover && homeImage11Src" (mouseover)="pic4Hover=true" (mouseleave)="pic4Hover=false" [src]="homeImage11Src" [alt]="homeImage11Description">
            
            <img class="imagestop5" *ngIf="!pic5Hover && homeImage12Src" (mouseover)="pic5Hover=true" (mouseleave)="pic5Hover=false"  [src]="homeImage12Src" [alt]="homeImage12Description">
            <img class="imagestop5" *ngIf="pic5Hover && homeImage13Src" (mouseover)="pic5Hover=true" (mouseleave)="pic5Hover=false" [src]="homeImage13Src" [alt]="homeImage13Description">
            
            <img class="imagestop6" *ngIf="!pic6Hover && homeImage14Src" (mouseover)="pic6Hover=true" (mouseleave)="pic6Hover=false" [src]="homeImage14Src" [alt]="homeImage14Description">
            <img class="imagestop6" *ngIf="pic6Hover && homeImage15Src" (mouseover)="pic6Hover=true" (mouseleave)="pic6Hover=false" [src]="homeImage15Src" [alt]="homeImage15Description">
      </div>
    </div>
</div>


<!-- <div class="wrapper">

        <div class="jumbotron">
            <p class="jumbotron-text">Send in a picture of yourself fishing with one of our lures and we will send you a free lure!</p>
        </div>

        <h1 class='midTitle'>Our Lures</h1>
        <div class="row"> -->
<!-- <a class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ontouchstart="this.classList.toggle('hover');" *ngFor='let product of products'> -->
<!-- <div class="container product"> -->
<!-- <div class="front" id='{{product.id}}' [style.background-image]='getBackground(product.productImage)'> angular has protections for variables as product image. must use getBackground to scrub -->
<!-- <div class="inner"> -->
<!-- <p class="lureName">{{product.productName}}</p> -->
<!-- </div> -->
<!-- </div> -->
<!-- <div class="back">
                            <div class="inner">
                                <p class="description">{{product.productDescription}}</p>
                                <p class="price">{{product.productPrice | currency:'USD':true:'1.2-2'}}</p>
                                <br>
                                <form>
                                    <label for="quantity">Quantity:</label>
                                    <input
                                    #quantity
                                    name='quantity'
                                    required
                                    type="number"
                                    style='color: black; width: 3em;'
                                    OnlyNumber="true"
                                    value="1"
                                    min="1"
                                    >
                                    <p *ngIf='errorMsg'>Quantity must be entered</p>
                                    <br><br>
                                    <button
                                    (click)='checkQuantity(product.id, quantity.value)'
                                    class="btn btn-primary button-blue"

                                    >Add To Cart</button> -->
<!-- </form>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </div> -->





<div class="wrapper">

  <div class="jumbotron">
    <p class="jumbotron-text">Send in a picture of yourself fishing with one of our lures and we will send you a free lure!</p>
  </div>

  <h1 class='midTitle'>Our Lures</h1>
  <div class="row">
    <a class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ontouchstart="this.classList.toggle('hover');" *ngFor='let product of products'>
      <div class="container product">
        <div class="front" id='{{product.id}}' [style.background-image]='getBackground(product.productImage)'></div>
        <div class="inner">
          <p class="description">{{product.productDescription}}</p>
          <p class="price">{{product.productPrice | currency:'USD':true:'1.2-2'}}</p>
          <br>
          <form>
            <label for="quantity">Quantity:</label>
            <input #quantity name='quantity' required type="number" style='color: black; width: 3em;' OnlyNumber="true" value="1" min="1">
            <p *ngIf='errorMsg'>Quantity must be entered</p>
            <br>
            <br>
            <button (click)='checkQuantity(product.id, quantity.value)' class="btn btn-primary button-blue">Add To Cart</button>
          </form>
        </div>
      </div>
    </a>
  </div>
</div>