<img class="banner" src="../../../assets/images/homepage.png" alt="image">
  
 

<div class="wrapper-top">
    <!-- <h1 class='midTitle'>Lures in Action</h1> -->
    <div class="cols">
              <!-- <div class="col" ontouchstart="this.classList.toggle('hover');"> -->
                  <div class="row" style="display: flex;">
                      <div class="col-xs-12 col-md-12">
                            <div class="container">
                                <div class="front" style="height: 350px;">
                                    <div class="inner">
              
                                    </div>
                                </div>
                                <div class="back" style="height: 350px;">
                                    <div class="inner">
              
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="row" style="display: flex;">
                      <div class="col-xs-6 col-md-12">
                            <div class="container">
                                <div class="front" style="height: 172.5px;">
                                    <div class="inner">
              
                                    </div>
                                </div>
                                <div class="back" style="height: 172.5px;">
                                    <div class="inner">
              
                                    </div>
                                </div>
                            </div>
                      </div>
                      <div class="col-xs-6 col-md-12">
                            <div class="container">
                                <div class="front" style="height: 172.5px;">
                                    <div class="inner">
              
                                    </div>
                                </div>
                                <div class="back" style="height: 172.5px;">
                                    <div class="inner">
              
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>


              <!-- </div> -->

     <div class="wrapper">

        <div class="jumbotron">
            <p class="jumbotron-text">Send in a picture of yourself fishing with one of our lures and we will send you a free lure!</p>
        </div>

        <h1 class='midTitle'>Lures</h1>
        <div class="row">
                <a class="col-xs-12 col-md-4 col-sm-6 col-lg-3" ontouchstart="this.classList.toggle('hover');" *ngFor='let product of products'>
                    <div class="container product">
                        <div class="front" id='{{product.id}}' [style.background-image]='getBackground(product.productImage)'> <!-- angular has protections for variables as product image. must use getBackground to scrub -->
                            <div class="inner">
                                <p class="lureName">{{product.productName}}</p>
                            </div>
                        </div>
                        <div class="back">
                            <div class="inner">
                                <p class="description">{{product.productDescription}}</p>
                                <p class="price">{{product.productPrice}}</p>
                                <input #quantity name='quantity' style='color: black' OnlyNumber="true" />
                                <button (click)='addToCart(product.id, quantity.value)'class="btn btn-primary">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </a>
        </div>
    </div>