<img class="banner" src="../../../assets/images/homepage.png" alt="image">
  
 

<div class="wrapper">
    <h1 class='midTitle'>Lures in Action</h1>
    <div class="cols">
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(https://static.pexels.com/photos/39854/fisherman-fishing-reel-river-39854.jpeg">
                          <div class="inner">

                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(https://static.pexels.com/photos/39854/fisherman-fishing-reel-river-39854.jpeg">
                          <div class="inner">

                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">

                          </div>
                      </div>
                  </div>
              </div>
              <div class="col" ontouchstart="this.classList.toggle('hover');">
                  <div class="container">
                      <div class="front" style="background-image: url(https://static.pexels.com/photos/39854/fisherman-fishing-reel-river-39854.jpeg">
                          <div class="inner">

                          </div>
                      </div>
                      <div class="back">
                          <div class="inner">

                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>


     <div class="wrapper">

        <div class="jumbotron">
            <p class="jumbotron-text">Send in a picture of yourself fishing with one of our lures and we will send you a free lure!</p>
        </div>

        <h1 class='midTitle'>Lures</h1>
        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(https://unsplash.it/504/504/">
                        <div class="inner">
                            <p class="lureName">Lure Name</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p class="description">Description</p>
                            <p class="price">Price</p>
                            <button class="btn btn-primary">Add To Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>