<div class="container">
  <div class="row">
    <div class="col-xs-offset-5 col-xs-2">
      <h2>Checkout</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="col-xs-6">
        <h4>Signin to Account</h4>
        <hr>
        <label for="username">Username:</label>
        <input type="text" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" required>
      </div>

      <div class="col-xs-6">
        <h4>Checkout as Guest</h4>
        <hr>
        <label for="name">Full Name:</label>
        <input type="name" name="name" id="name">
        <br>
        <label for="creditCard">CCN:</label>
        <input type="text" name="creditCard" id="creditCard">
        <br>
        <label for="cvv">CVV:</label>
        <input type="number" name="cvv" id="cvv">
      </div>
    </div>
  </div>
</div>