<div class="container" id="checkout">
  <div class="row">
    <h1 style="text-align: center; font-weight: bold;">
      <img 
        class="viewCarting" 
        src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-business/080707-glossy-black-icon-business-cart5.png" 
        alt="View Cart"
        style="height: 1.5em;"
      >Checkout</h1>
    <div>
      <div class="col-xs-6">
        <h2 style="text-align: center; font-weight: bold;">Signin to Checkout</h2>  
        <hr>
        <div style="text-align: center;">
          <div class="btn-group">
            <ng-template [ngIf]="authService.isAuthenticated()">
              <a routerLink="/checkout/user-checkout"><button class="btn btn-primary" type="button">User Checkout</button></a>
            </ng-template>
            <ng-template [ngIf]="!authService.isAuthenticated()">
              <button 
                class="btn btn-primary dropdown-toggle" 
                type="button"
                data-toggle="modal"
                data-target="#userModal"
              >Sign In</button>
            </ng-template>

            <div class="modal fade" id="userModal" role="dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h1 class="modal-title" style="font-weight: bold">User Signin</h1>
                </div>
                <div class="modal-body">
                  <app-signin></app-signin>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="col-xs-6">
        <h2 style="text-align: center; font-weight: bold;">Checkout as Guest</h2>  
        <hr>
        <div style="text-align: center;">
          <a routerLink='guest-checkout'><button class="btn btn-primary" type="button">Guest Checkout</button></a>
        </div>
      </div>
    </div>
  </div>
</div>