<div class="container" id="checkout">
  <div class="row">
    <h1 style="text-align: center; font-weight: bold;">
      <img 
        class="viewCarting" 
        src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-business/080707-glossy-black-icon-business-cart5.png" 
        alt="View Cart"
        style="height: 1.5em;"
      >Checkout</h1>
    <div>
      <div class="col-xs-6">
        <h2 style="text-align: center; font-weight: bold;">Signin to Checkout</h2>  
        <hr>
        <div style="text-align: center;">
          <div class="btn-group">
            <ng-template [ngIf]="authService.isAuthenticated()">
              <a routerLink="/checkout/user-checkout">
                <button 
                  class="btn btn-primary button-blue" 
                  type="button"
                >User Checkout</button>
              </a>
            </ng-template>
            <ng-template [ngIf]="!authService.isAuthenticated()">
              <a routerLink="/signin">
                <button 
                  class="btn btn-primary dropdown-toggle button-blue" 
                  type="button"
                >Sign In</button>
              </a>
            </ng-template>
          </div>
        </div>
        <br>
      </div>

      <div class="col-xs-6">
        <h2 style="text-align: center; font-weight: bold;">Checkout as Guest</h2>  
        <hr>
        <div style="text-align: center;">
          <a routerLink='guest-checkout'><button class="btn btn-primary button-blue" type="button">Guest Checkout</button></a>
        </div>
      </div>
    </div>
  </div>
</div>