<div class="container">
    <h1 style="text-align: center;">Contact Us</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus velit earum rerum voluptates ratione repellendus sunt nisi? Nostrum quidem labore excepturi incidunt id iure atque obcaecati doloremque! Dolorum, illum harum.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus velit earum rerum voluptates ratione repellendus sunt nisi? Nostrum quidem labore excepturi incidunt id iure atque obcaecati doloremque! Dolorum, illum harum.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus velit earum rerum voluptates ratione repellendus sunt nisi? Nostrum quidem labore excepturi incidunt id iure atque obcaecati doloremque! Dolorum, illum harum.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus velit earum rerum voluptates ratione repellendus sunt nisi? Nostrum quidem labore excepturi incidunt id iure atque obcaecati doloremque! Dolorum, illum harum.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus velit earum rerum voluptates ratione repellendus sunt nisi? Nostrum quidem labore excepturi incidunt id iure atque obcaecati doloremque! Dolorum, illum harum.</p>
    <br>
    <br>
    <p style="text-align: center; padding-left: 25px; padding-right: 25px; font-weight: bold;">“You give a poor man a fish and you feed him for a day. You teach him to fish and you give him an occupation that will feed him for a lifetime.” -Chinese Proverb</p>
  </div>